# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Client_Web/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
Client_Web/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
Client_Web/.env*.local
Client_Web/.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
